.badge {
  display: inline-block;
  border-radius: 16px;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.5em 0.8em;
}

.react {
  background-color: var(--blue-1);
  color: var(--white);
}

.css {
  background-color: var(--gray-1);
  color: var(--white);
}

.draft {
  background-color: var(--gray-3);
  color: var(--white);
}
