@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    font-size: 16px;
    @apply m-0 p-0;
  }

  body {
    background: var(--bg);
    color: var(--fg);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2364a0ac' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    /* Hack */
    overflow-x: hidden;
    @apply text-zinc-900 bg-white dark:text-white dark:bg-zinc-900 transition-colors;
  }

  a {
    @apply text-zinc-900 dark:text-white underline focus:outline-none focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-zinc-500 focus-visible:ring-opacity-70 transition-colors;
  }

  @media (hover: hover) and (pointer: fine) {
    a:hover {
      @apply text-zinc-400;
    }
  }

  img {
    @apply bg-zinc-300 dark:bg-zinc-700;
  }
}

@layer components {
  img.placeholder {
    @apply bg-zinc-200;
  }

  .blog-tag {
    @apply inline-block rounded-3xl text-sm px-2.5 py-1.5 font-mono;
  }

  .sheet {
    @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-700 dark:text-white overflow-hidden rounded-lg;
  }

  .card {
    @apply bg-white text-zinc-900 dark:bg-zinc-700 dark:text-white overflow-hidden rounded-lg;
  }

  .card-clickable {
    @apply hover:bg-zinc-100 group-hover:bg-zinc-100 hover:scale-105 group-hover:scale-110 dark:hover:bg-zinc-600 dark:group-hover:bg-zinc-600 transition;
  }

  .card-clickable a {
    @apply no-underline hover:text-zinc-900 dark:hover:text-white;
  }

  .card-shadow {
    @apply shadow-md hover:shadow-xl group-hover:shadow-xl;
  }

  h2.hashtag-heading::before {
    content: '#';
    @apply text-zinc-500 -tracking-widest mr-1.5;
  }

  h3.hashtag-heading::before {
    content: '##';
    @apply text-zinc-500 -tracking-widest mr-1.5;
  }

  .next-image-wrapper > * {
    @apply align-top;
  }

  .featurose-card-flex > *:first-child {
    @apply align-top;
  }
}
