@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --bg: #fff;
  --fg: #000;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #888;
  --geist-foreground: #000;

  --primary: #04a4e9;

  --blue-1: #04a4e9;
  --blue-2: #2ab1eb;
  --blue-3: #5bc0eb;
  --blue-4: #80c6e4;
  --blue-5: #a3cee0;
  --yellow-1: #b6a102;
  --yellow-2: #dec402;
  --yellow-3: #fde10d;
  --yellow-4: #fde635;
  --yellow-5: #fde74c;
  --orange-1: #bb5e1b;
  --orange-2: #bd6a2e;
  --orange-3: #be743e;
  --orange-4: #be7c4d;
  --orange-5: #c08962;
  --green-1: #566e21;
  --green-2: #6e8d2a;
  --green-3: #86ad34;
  --green-4: #9dc743;
  --green-5: #add062;
  --pink-1: #ea526f;
  --pink-2: #e6677e;
  --pink-3: #e48294;
  --pink-4: #e49ba8;
  --pink-5: #e2b2bb;
  --red-1: #92374d;
  --red-2: #94465a;
  --red-3: #965767;
  --red-4: #946470;
  --red-5: #94727a;
  --purple-1: #442d79;
  --purple-2: #4c3979;
  --purple-3: #564779;
  --purple-4: #5d5179;
  --purple-5: #655c7a;
  --dark-blue-1: #3a405a;
  --dark-blue-2: #40455a;
  --dark-blue-3: #44485a;
  --dark-blue-4: #4a4d5a;
  --dark-blue-5: #4c4e55;
  --gray-1: #191919;
  --gray-2: #333333;
  --gray-3: #474747;
  --gray-4: #5c5c5c;
  --gray-5: #707070;
  --white-1: #f1f1f1;
  --white-2: #d6d6d6;
  --white-3: #b4b4b4;
  --white-4: #a0a0a0;
  --white-5: #858585;
  --white: #ffffff;

  --radius: 8px;

  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-mono: Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  @apply m-0 p-0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  /* Hack */
  overflow-x: hidden;
  @apply min-h-screen;
}

/* code[class*='language-'],
pre[class*='language-'] {
  color: var(--gray-1);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.95em;
  line-height: 1.4em;
  tab-size: 4;
  hyphens: none;
} */
/* .token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--white-5);
} */
/* .token.namespace {
  opacity: 0.7;
} */
/* .token.string,
.token.attr-value {
  color: var(--green-2);
} */
/* .token.punctuation,
.token.operator {
  color: var(--gray-1);
} */
/* .token.url,
.token.symbol,
.token.boolean,
.token.variable,
.token.constant {
  color: #36acaa;
} */
/* .token.atrule,
.language-autohotkey .token.selector,
.language-json .token.boolean,
code[class*='language-css'] {
  font-weight: 600;
} */
/* .language-json .token.boolean {
  color: var(--geist-success);
} */
/* .token.keyword,
.token.tag {
  color: var(--pink-2);
} */
/* .token.function,
.token.class-name,
.token.number {
  color: var(--geist-success);
} */
/* .language-autohotkey .token.tag {
  color: var(--red-1);
} */
/* .token.selector,
.language-autohotkey .token.keyword {
  color: var(--dark-blue-1);
} */
/* .token.important,
.token.bold {
  font-weight: bold;
} */
/* .token.italic {
  font-style: italic;
} */
/* .token.deleted {
  color: var(--red-1);
  font-weight: bolder;
} */
/* .token.inserted {
  color: var(--geist-success);
  font-weight: bolder;
} */
/* .language-json .token.property,
.language-markdown .token.title {
  color: var(--gray-1);
  font-weight: bolder;
} */
/* .language-markdown .token.code {
  color: var(--geist-success);
  font-weight: normal;
} */
/* .language-markdown .token.list,
.language-markdown .token.hr {
  color: var(--gray-4);
} */
/* .language-markdown .token.url {
  color: var(--pink-1);
  font-weight: bolder;
} */
/* .token.selector {
  color: var(--blue-2);
} */
/* .token.property,
.token.entity {
  color: var(--pink-1);
} */
/* .token.attr-name,
.token.regex {
  color: var(--orange-4);
} */
/* .token.directive.tag .tag {
  background: #ff0;
  color: #393a34;
} */
/* dark */
/* pre.dark[class*='language-'] {
  color: #fafbfc;
} */
/* .language-json .dark .token.boolean {
  color: var(--geist-success);
} */
/* .dark .token.string {
  color: var(--green-1);
} */
/* .dark .token.function,
.dark .token.tag,
.dark .token.class-name,
.dark .token.number {
  color: #2ba8ff;
} */
/* .dark .token.attr-value,
.dark .token.punctuation,
.dark .token.operator {
  color: #efefef;
} */
/* .dark .token.attr-name,
.dark .token.regex {
  color: #fac863;
} */
/* .language-json .dark .token.property,
.language-markdown .dark .token.title {
  color: #fff;
} */
/* .language-markdown .dark .token.code {
  color: #50e3c2;
} */

.links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 920px;
  max-width: calc(100vw - var(--gap-double));
}

.feature {
  flex: 0 0 25%;
  align-items: center;
  display: inline-flex;
  padding: 0 0.5rem 1.5rem;
  margin: 0 auto;
}

.feature h4 {
  margin: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .feature div {
    flex-basis: auto;
    padding-left: 0;
  }

  .feature h4 {
    font-size: 0.75rem;
  }
}

figure {
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8;
}

figure {
  font-size: 0.85rem;
  color: #999;
}

a {
  color: var(--blue-1);
  text-decoration: none;
}

a:hover {
  @apply underline;
}

.links {
  margin-top: var(--gap);
}

mark {
  padding: var(--gap-quarter);
  border-radius: var(--radius);
  background: rgba(247, 212, 255, 0.8);
}

.title {
  text-align: center;
}

.logo :global(svg) {
  max-width: calc(100vw - var(--gap-double));
}

h1 {
  margin: var(--gap-double) 0 calc(0.5 * var(--gap)) 0;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.02rem;
  color: var(--gray-2);
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  color: var(--white-5);
}

.video {
  width: 1080px;
  max-width: calc(100vw - 40px);
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  cursor: pointer;
}
.video :global(video) {
  max-width: 100%;
  max-height: 90vh;
  outline: none;
}

p {
  color: var(--gray-2);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}
/* pre {
  white-space: pre;
} */
/* pre :global(code) {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
} */

/* code {
  font-size: 0.8rem;
  background: #f1f1f1;
  padding: 0.2rem;
  border-radius: var(--radius);
  font-family: var(--font-mono);
} */

li {
  color: var(--gray-2);
  font-size: 1rem;
  line-height: 1.2;
}

.slice {
  position: relative;
}

.slice::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 130%;
  background: #fff;
  transform: skew(-20deg);
}

@media (max-width: 600px) {
  /* h2 {
    font-size: 0.95rem;
    letter-spacing: 0;
  } */
}

.dotted {
  border-bottom: 1px dashed black;
}

footer {
  padding: 2em 0;
  text-align: center;
}

footer img {
  display: block;
  margin: 0.5rem auto;
}

footer span:nth-child(3) {
  color: #777777;
}

footer span:nth-child(3) a {
  color: inherit;
}

img.placeholder {
  background-color: var(--white-2);
}

@layer components {
  .blog-tag {
    @apply inline-block rounded-3xl text-sm px-2.5 py-1.5;
  }

  .blog-tag-group > *:not(:last-child) {
    @apply mr-2;
  }

  .card {
    @apply bg-white overflow-hidden rounded-xl shadow-md hover:shadow-xl transition-shadow;
  }

  .post {
    @apply mx-auto px-4;
  }

  .post .asset-without-wrapper {
    @apply block max-w-full;
  }

  .post .callout {
    @apply flex p-4 rounded-md bg-gray-100;
  }

  .post .callout > .text {
    @apply ml-4;
  }
}
