@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  @apply m-0 p-0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2364a0ac' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  /* Hack */
  overflow-x: hidden;
  @apply text-gray-900 bg-white dark:text-white dark:bg-gray-900;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}
.token.namespace {
  @apply opacity-70;
}
.token.keyword,
.token.tag {
  @apply text-red-400;
}
.token.attr-name,
.token.regex {
  @apply text-yellow-500;
}
.token.attr-value {
  @apply text-blue-400;
}
.token.string {
  @apply text-green-300;
}
.token.punctuation,
.token.operator {
  @apply text-gray-400;
}
.token.url,
.token.symbol,
.token.boolean,
.token.variable,
.token.constant {
  @apply text-blue-400;
}
.token.atrule,
.language-autohotkey .token.selector,
.language-json .token.boolean,
code[class*='language-css'] {
  @apply font-semibold;
}
.language-json .token.boolean {
  @apply text-yellow-700;
}

.token.function,
.token.class-name,
.token.number {
  @apply text-purple-400;
}
.language-autohotkey .token.tag {
  @apply text-red-300;
}
.token.selector,
.language-autohotkey .token.keyword {
  @apply text-blue-400;
}
.token.important,
.token.bold {
  @apply font-bold;
}
.token.deleted {
  @apply text-red-600 font-bold;
}
.token.inserted {
  @apply text-yellow-700 font-bold;
}
.language-json .token.property,
.language-markdown .token.title {
  @apply text-gray-200 font-bold;
}
.language-markdown .token.code {
  @apply text-yellow-700 font-normal;
}
.language-markdown .token.list,
.language-markdown .token.hr {
  @apply text-gray-600;
}
.language-markdown .token.url {
  @apply text-pink-400 font-bold;
}
.token.selector {
  @apply text-blue-400;
}
.token.property,
.token.entity {
  @apply text-pink-400;
}
.token.directive.tag .tag {
  @apply bg-yellow-400 text-gray-600;
}

figure {
  @apply text-sm text-gray-700 leading-relaxed;
}

a {
  @apply text-gray-900 dark:text-white underline focus:outline-none focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-gray-500 focus-visible:ring-opacity-70;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    @apply text-gray-400 dark:text-gray-500;
  }
}

mark {
  @apply p-1 rounded-md bg-yellow-100;
}

.video {
  width: 1080px;
  max-width: calc(100vw - 40px);
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  cursor: pointer;
}
.video :global(video) {
  max-width: 100%;
  max-height: 90vh;
  outline: none;
}

.slice {
  position: relative;
}

.slice::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 130%;
  background: #fff;
  transform: skew(-20deg);
}

.dotted {
  border-bottom: 1px dashed black;
}

img.placeholder {
  @apply bg-gray-200;
}

.prose {
  @apply text-gray-900 dark:text-white;
}

.prose a {
  @apply text-gray-700 dark:text-gray-200 hover:text-gray-500;
}

.prose a * {
  @apply text-gray-700 dark:text-gray-200 hover:text-gray-500;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose strong {
  @apply text-gray-900 dark:text-white;
}

.prose h1 {
  @apply mb-0;
}

.prose strong {
  @apply font-bold;
}

.prose pre {
  overflow-wrap: initial;
  tab-size: 2;
  @apply bg-gray-800 py-6;
}

.prose a code {
  @apply text-red-500 bg-gray-200 dark:text-red-400 dark:bg-gray-800;
}

.prose code {
  @apply text-red-500 bg-gray-200 dark:text-red-400 dark:bg-gray-800 p-1 rounded font-normal;
}

.prose code::before,
.prose code::after {
  content: '';
}

.prose blockquote {
  @apply text-gray-700 dark:text-gray-200;
}

.prose figure figcaption {
  @apply text-gray-600 dark:text-gray-300 text-sm mt-2 text-center;
}

.prose figure figcaption * {
  @apply m-0;
}

.prose img {
  @apply m-0;
}

.prose .callout {
  @apply bg-gray-200 dark:bg-gray-700 flex p-4 rounded-md;
}

.prose .callout > .text {
  @apply ml-4;
}

@layer components {
  .blog-tag {
    @apply inline-block rounded-3xl text-sm px-2.5 py-1.5 font-mono;
  }

  .blog-tag-group > *:not(:last-child) {
    @apply mr-2;
  }

  .sheet {
    @apply bg-gray-200 text-gray-900 dark:bg-gray-700 dark:text-white overflow-hidden rounded-xl;
  }

  .card {
    @apply bg-white text-gray-900 dark:bg-gray-700 dark:text-white overflow-hidden rounded-xl;
  }

  .card-clickable {
    @apply dark:hover:bg-gray-600;
  }

  .card-clickable a {
    @apply no-underline hover:text-gray-900 dark:hover:text-white;
  }

  .card-shadow {
    @apply shadow-md hover:shadow-xl group-hover:shadow-xl transition-shadow;
  }

  h2.hashtag-heading::before {
    content: '#';
    @apply text-gray-400 mr-1;
  }

  h3.hashtag-heading::before {
    content: '##';
    @apply text-gray-400 mr-1;
  }

  .post {
    @apply mx-auto px-4;
  }

  .next-image-wrapper > * {
    @apply align-top;
  }

  .featured-card-flex > *:first-child {
    @apply align-top;
  }
}
